.background{
    background-color: rgb(206, 206, 206); 
}

.title{
    font-size: 4vmax;
    font-weight: bold;
    font-family: "Georgia", Serif;
    position: fixed;
    top: 5vh;
    left: 3vw;
}


.test{
    height: 85vh;
    overflow-y: scroll;
}

.margin{
    margin-top: 3vh;
}